.dashboard-container {
    font-family: Arial, sans-serif;
    text-align: center;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    width: 98.5%;
    z-index: 1000;
}

.dashboard-header h1 {
    font-size: 1.5em;
    margin: 0;
    color: white;
}

.header-buttons button {
    margin: 0 5px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
}

.header-buttons button:hover {
    background-color: #218838;
}

main {
    padding: 20px;
    margin-top: 80px;
}

.crypto-app {
    margin: 20px auto;
    max-width: 800px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.crypto-app h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: center;
}

.crypto-app p {
    font-size: 1em;
    margin-bottom: 20px;
    text-align: center;
}

.crypto-selector select {
    width: 100%;
    height: 150px;
    margin: 10px 0;
    font-size: 1em;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.crypto-details {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

.crypto-details h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #007bff;
}

.crypto-details ul {
    list-style: none;
    padding: 0;
}

.crypto-details ul li {
    margin: 5px 0;
    font-size: 1em;
}

.crypto-details ul li strong {
    color: #333;
}

.crypto-details input[type="datetime-local"] {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.crypto-details button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
}

.crypto-details button:hover {
    background-color: #0056b3;
}

.chart-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.profile-options {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
}

.close-PU {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
}

.modify-PU {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
}

.genere-PU {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
}

.sup-PU {
    background-color: peru;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
}

.close-PU:hover {
    background: #dc3545;
}

.modify-PU:hover {
    background: #28a745;
}

.genere-PU:hover {
    background: #007bff;
}

.sup-PU:hover {
    background: peru;
}

.modal {
    position: fixed;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 20%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal-content {
    background-color: aquamarine;
    color: peru;
    padding: 2em;
    border-radius: 8px;
    text-align: center;
}

.modal-content button {
    margin-top: 1em;
    padding-right: 10px;
    gap: 10px;
}