body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 99%;
    height: 7%;
    z-index: 1000;
}

.app-header h1 {
    margin: 0;
    color: white;
}

.app-header button {
    margin-left: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.app-header button:hover {
    background-color: #218838;
}

.btn-return-to-account {
    position: fixed;
    right: 200px;
    top: 30px;
}

.btn-logout {
    position: fixed;
    right: 50px;
    top: 30px;
}

.btn-upgrade-premium {
    position: fixed;
    right: 400px;
    top: 30px;
}

.btn-break-contrat {
    position: fixed;
    right: 400px;
    top: 30px;
}

.btn-portefeuille {
    position: fixed;
    right: 700px;
    top: 30px;
}

.container {
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: auto;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

.sticky-alerts-container {
    width: 100%;
}

.sticky-alerts-container {
    position: sticky;
    top: 20px;
    z-index: 999;
    margin-bottom: 20px;
}

.btn-create-alert {
    background-color: lightgreen;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.btn-create-alert:hover {
    background-color: #005fa3;
}

.alert-list {
    margin-top: 20px;
}

.alert-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-update-alert {
    background-color: #ffc107;
    color: #fff;
    padding-right: 20px;
}

.btn-delete-alert {
    background-color: #dc3545;
    color: #fff;
    padding-left: 20px;
}

.btn-update-alert:hover,
.btn-delete-alert:hover {
    background-color: #2c3e50;
}

.alert-item .alert-buttons .edit-button {
    background-color: #ffc107;
    color: #fff;
}

.alert-item .alert-buttons .edit-button:hover {
    background-color: #e0a800;
}

.alert-item .alert-buttons .delete-button {
    background-color: #dc3545;
    color: #fff;
}

.alert-item .alert-buttons .delete-button:hover {
    background-color: #c82333;
}

/*.popup-overlay {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    z-index: 1000;*/
/*}*/

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup-content h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.popup-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popup-content input,
.popup-content select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.popup-content button {
    background-color: #0077cc;
    color: #fff;
    border: none;
    padding: 12px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-content button:hover {
    background-color: #005fa3;
}

.popup-content .cancel-button {
    background-color: #dc3545;
}

.popup-content .cancel-button:hover {
    background-color: #c82333;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 400px;
}

.modal-actions button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-actions button:first-child {
    background: #4caf50;
    color: white;
}

.modal-actions button:last-child {
    background: #f44336;
    color: white;
}